'.source.flave':
  'class>view':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': 'class'
    'body': """
      class ${1:flave}{
        view ${2:main}{
          $3
        }
      }
    """
  'view':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': 'view'
    'body': """
        view ${1:main}{
          $2
        }
    """
  'function':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': 'function'
    'body': """
        function ${1:main}{
          $3
          return ${2:data};
        }
    """
  '@for':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': '@for'
    'body': """
    @for(var ${1:i} = 0; ${1:i} < ${2:data}$3.length; ${1:i}++) {
    	${2:data}[${1:i}]$4
    }
    """
  '@while':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': '@while'
    'body': """
    @while(${1:condition}) {
    	$4
      ${2:@{${3:condition=false}\\}}
    }
    """
  '@if':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': '@if'
    'body': """
    @if(${1:condition}) {
    	$2
    }
    """
  '@elseif':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': '@elseif'
    'body': """
    @elseif(${1:condition}) {
    	$2
    }
    """
  '@else':
    'leftLabelHTML': '<span style="color:#f00">@</span>'
    'prefix': '@else'
    'body': """
    @else{
    	$1
    }
    """
